<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Saiba mais sobre a API
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div id="container">
    <h1 id="titulo">ViaCep</h1>
    <h3 id="subtitulo">API para Consulta de Endereços</h3>
    <p>
        A API ViaCEP permite a consulta de endereços brasileiros a partir do CEP. Ao enviar uma requisição HTTP para a URL com o CEP desejado, a API retorna informações detalhadas, como logradouro, bairro, cidade e estado, em formato JSON. 
    </p>
    <p>
        É uma ferramenta prática e eficiente para desenvolvedores que desejam integrar funcionalidades de busca de endereços em suas aplicações. Com ela, é possível obter dados precisos e atualizados rapidamente, melhorando a experiência do usuário.
    </p>
  </div>

</ion-content>