<ion-header>
  <ion-toolbar>
    <ion-title>Consulte seu Endereço</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <h1 id="titulo">CONSULTA DE ENDEREÇOS</h1>
    <h3 id="subtitulo">Aqui você encontra todos os endereços através do CEP</h3>

    <ion-item>
      <ion-label position="floating">Digite o CEP</ion-label>
      <ion-input [(ngModel)]="cep" (ionInput)="cepInvalido = false"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="consultarEndereco()">Consultar</ion-button>

    <div *ngIf="cepInvalido" style="color: red;">
      <p>CEP inválido. Por favor, verifique e tente novamente.</p>
    </div>

    <div *ngIf="endereco">
      <h3>Endereço:</h3>
      <p>{{ endereco.logradouro }}, {{ endereco.bairro }}, {{ endereco.localidade }} - {{ endereco.uf }}</p>
    </div>
  </div>
</ion-content>