<ion-content [fullscreen]="true">

  <div id="container">
    <h1 id="titulo">Sobre o Projeto</h1>
    <h3 id="subtitulo">Este projeto foi criado com o objetivo de facilitar a busca de endereços utilizando uma API eficiente.</h3>
    <p>
        O aplicativo visa fornecer uma interface intuitiva para consultas rápidas de endereços, oferecendo informações como localização e coordenadas. Com a necessidade crescente de dados geográficos precisos, nossa solução atende tanto usuários comuns quanto profissionais, melhorando a experiência e economizando tempo. Em suma, buscamos simplificar o acesso a informações de endereços de forma acessível e prática.
    </p>
  </div>

</ion-content>
